html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pink {
    color: hotpink;
}

#circular {
    border-radius: 50%;
}

.team_rank {
    background-color: hotpink;
    color: #fff;
    font-family: 'Minecraft';
    font-weight: 100;
    border-radius: 30px;
}
